*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.page-action-cont{
    height: 3rem;
    background-color: #107c41;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}
.page-action{
    margin: 0.5rem;
    color: #f1f2f6;

}
.cellprop-action-cont{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cellprop-action-cont > *{
    display: inline-block;
    margin-right: 1rem;
}
.cellprop-action-cont > select {
    border: none;
    border-radius: 2px;
    outline: none;
}
.font-family-prop{
    padding: 0.2rem;
}
.font-size-prop{
    padding: 0.2rem;
}
.formula-action-cont{
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    
}
.formula-action-cont > *{
    display: inline-block;
    margin-right: 0.7rem;
}
.formula-icon{
width: 1.2rem;
}
.address-bar{
    width: 5rem;
}
.formula-bar{
    width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}
.formula-action-cont > input{
    border: none;
    outline: none;
    height: 70%;
}

.sheet-action-cont{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
}
.sheet-action-cont > *{
    display: inline-block;
}
.sheet-add-icon{
    width: 2vw;
}
.sheets-folder-cont{
    height: 80%;
    width : 5rem;
    width: calc(100vw - 2vw);
    display: flex;
    align-items: center;
}
.sheet-folder{
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
}
.grid-cont{
    height : calc(100vh - 3rem - 3rem - 3rem - 3rem);
}